<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/hotel</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="dbclasses.FoodMenu"/>
        <mapping class="dbclasses.FoodOrder"/>
        <mapping class="dbclasses.Image"/>
        <mapping class="dbclasses.Keycard"/>
        <mapping class="dbclasses.Location"/>
        <mapping class="dbclasses.Reservation"/>
        <mapping class="dbclasses.Resource"/>
        <mapping class="dbclasses.ResourceType"/>
        <mapping class="dbclasses.User"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>